.card {
  background-color: var(--bg-white);
  border: 1px solid var(--border);
  border-top: 3px solid var(--green-mid);
  border-radius: var(--border-radius);
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.card:hover {
  background-color: var(--bg-hover);
  border-color: var(--green-border);
}

.selected {
  border-color: var(--blue-border);
  border-top: 3px solid var(--blue-mid);
  background-color: var(--blue-light);
}

/* Company Card */
.company-card {
  background-color: var(--bg-white);
  border: 1px solid var(--border);
  border-top: 3px solid var(--green-mid);
  border-radius: var(--border-radius);
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.company-card:hover {
  background-color: var(--bg-hover);
  border-color: var(--green-border);
}

.company-card.selected {
  background-color: var(--bg-white);
  border: 1px solid var(--blue-border);
  border-top: 3px solid var(--blue-mid);
}


.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 14px;
}

.card-name {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 2px;
}


.card-industry {
  font-size: 11px;
  font-weight: 600;
  background-color: var(--green-light);
  color: var(--text-primary);
  padding: 3px 10px;
  border-radius: 99px;
  border: 1px solid var(--green-mid);
}

.card-metrics {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.card-metrics li {
  font-size: 13px;
  color: var(--text-secondary);
  display: flex;
  justify-content: space-between;
}

.card-metrics li span {
  font-weight: 600;
  color: var(--green-dark);
}

.card-btn {
  display: inline-block;
  align-self: flex-end; 

  background-color: var(--blue-light);
  color: var(--text-primary);

  font-size: 11px;
  font-weight: 600;

  padding: 4px 12px;
  border-radius: 99px;
  border: 1px solid var(--blue-mid);

  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.card-btn:hover {
  background-color: var(--green-mid);
  border-color: var(--green-mid);
  color: #ffffff;
}


.card-btn:hover {
  background-color: var(--green-mid);
  color: #ffffff;
  border-color: var(--green-mid);
}

